extends ./layout/index

block contenido
    .py-10
        h2.text-center.text-2xl.font-extrabold= pagina 


        form(action="/equipos/buscador-admin" method="POST" class="text-center py-2 space-x-2")
            input(type="hidden" name="_csrf" value=csrfToken)
            label(for="termino" class="text-sm uppercase font-bold text-black") Busqueda
            input(type="text" id="termino" name="termino" placeholder="Buscar Equipo" class="p-2 rounded-lg shadow text-sm")
            input(type="submit" class= "bg-yellow-400 hover:bg-yellow-300 text-white uppercase font-bold p-2 cursor-pointer text-sm" value="Buscar") 

        a(href="/equipos/crear-equipo" class="rouded py-2 px-10  bg-yellow-400 hover:bg-yellow-300 text-sm  font-bold text-center text-white my-5 inline-block w-full sm:w-auto uppercase") Ingresar Equipos



        
        //pre= JSON.stringify(equipos, undefined, 2)

        if equipos .length 
            div(class="bg-white shadow rounded-lg")
                ul(class="divide-y divide-gray-200")
                    each equipo in equipos   
                        li  
                            div(class="p-6 w-full flex flex-col sm:flex-row sm:items-center sm:justify-between  md:space-y-0 gap-4")
                                div(class="sm:w-1/4 md:w-1/6") 
                                    img(src=`uploads/${equipo.imagen}`, alt=`Imagen equipo ${equipo.titulo}` class="w-full block")         
                                div(class="sm:w-2/4 md:w-3/6 lg:w-4/6 space-y-3") 
                                    a(class="block text-2xl font-extrabold text-black truncate" href=`/equipo/${equipo.id}`)= equipo.titulo
                                    p(class="text-sm text-black font-bold")= equipo.categorium.nombre
                                


                                div(class="sm:w-1/4 md:w-2/6 lg:flex-1 flex flex-col lg:flex-row gap-2") 
                                    form(action="")
                                        //input(type="submit" class=`w-full px-2 py-2 md:py-1 text-xs leading-5 font-semibold rounded cursor-pointer ${equipo.publicado ? 'bg-green-100 text-green-800' : 'bg-yellow-100 text-yellow-800'}` value=`${equipo.publicado ? 'Publicado' : 'No Publicado'}`)


                                    a(href=`/equipos/editar/${equipo.id}` class="text-center px-2 py-2 md:py-1 text-xs leading-5 font-semibold rounded cursor-pointer bg-orange-500 text-white ") Editar 

                                    form(method="POST" action=`/equipos/eliminar/${equipo.id}`)
                                        input(type="hidden" name="_csrf" value=csrfToken)
                                        input(type="submit" class="w-full px-2 py-2 md:py-1 text-xs leading-5 font-semibold rounded cursor-pointer bg-red-100 text-red-800" value="Eliminar")
                                            
                
                
                div(class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6")
                    
                    div(class="flex-1 flex justify-between sm:hidden")
                        a(href=`/mis-equipos?pagina=${paginaActual -1}` class=`${paginaActual == 1 ? 'pointer-events-none' : ''} relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50`) Anterior


                        a(href=`/mis-equipos?pagina=${paginaActual +1}` class=`${paginaActual === paginas ? 'pointer-events-none' : ''} relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50`) Siguiente
                    
                    div(class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between")
                        p(class="text-sm text-gray-700 gap-2") Mostrando 
                            span(class="font-medium") #{offset +1} a 
                            span(class="font-medium") #{total < limit + offset ? total : limit + offset} de 
                            span(class="font-medium") #{total} resultados
                    
                    div(class="hidden sm:block")
                        nav(class="relative z-0 inline-flex rouded-md shadow-md")
                            - var n = 1;
                                while n <= paginas
                                    a(href=`/mis-equipos?pagina=${n}` class=`${paginaActual == n ? 'bg-orange-50 hover:bg-orange-400 border-orange-500 text-black' : 'bg-white border-gray-300 text-gray-500 hover:bg-gray-50' } relarive inline-flex items-center px-4 py-2 border text-sm font-medium`) #{n++} 
        
        
        else 
            p.text-center No Hay Equipos